body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

// Components
@import '../components/atomic/container/container.scss';
@import '../components/molecule/list/chat.scss';
@import '../components/molecule/input_message/input_message.scss';
@import '../components/molecule/form_log/form_log.scss';

//Layouts
@import '../components/layouts/auth/auth_layout.scss';
@import '../components/layouts/stream/stream.layout.scss';
@import '../components/layouts/default/default_layout.scss';